label {
    font-weight: bolder;
}

::placeholder {
    color: lightskyblue !important;
    opacity: 3;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: lightskyblue !important;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: lightskyblue !important;
    opacity: 3;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #48176d;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 120%;
}

h2 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 100%;
    color: #48176d;
}

#msg {
    height: 10px;
}

#grid-criptos tbody {
    cursor: pointer;
}

#cambio {
    margin-top: 8px;
}

#escolhaCambio input {
    margin-left: 10px;
    margin-right: 10px;
}

#form-cripto label {
    color: #48176d;
}

#form-cripto input {
    margin-bottom: 30px;
}
